/**
 * Bits appropriated liberally from:
 * https://github.com/necolas/normalize.css/blob/master/normalize.css
 */
body {
    background: #1a1a1a;
    color: #2bbc8b;
    font-size: 15px;
    margin: 0;
    font-family: menlo, sans-serif;
    cursor: default;
}
/**
 * Add the correct display in IE 9-
 */
section { display: block; }
/**
 * 1. Remove the gray background on active links in IE 10
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+
 *
 * Behaviour lifted from:
 * http://tobiasahlin.com/blog/css-trick-animating-link-underlines
 */
a {
    background-color: transparent; /* 1 */
    -webkit-text-decoration-skip: objects; /* 2 */
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
}
a::after {
  display: block;
  content: '';
  border-bottom: solid 1px #fff;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}
a:hover:after { transform: scaleX(1); }
/* Layout */
h2 {
    color: #fff;
    display: block;
    margin: 0 0 6px 0;
    font-size: 22px;
    font-weight: normal;
}
p { margin: 20px 0 0 0; }
/* https://stackoverflow.com/questions/396145/how-to-vertically-center-a-div-for-all-browsers */
.content {
    height: 100px;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}
